body {
    background-color: #E0E3DA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  float: left;
  font-size: 1.3em;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

li a:hover:not(.active) {
    background-color: #111;
}

table, th, td {
    table-layout: auto;
    width: 60em;
    border: 1px solid black;
}
table {
  border-collapse: collapse;
}

th {
    background-color: #566270;
    color: white;
}

.logo {
text-indent: 3em;
background: url('logo.jpg');
width: 630px;
height: 400px;
display:
}


