.adverts { margin: 3px; background: #E0E3DA; }
.inner {
  padding: .5vw;
  font-size: 10;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;

}
.adverts div {

  flex-grow: 8;
  max-width: 17vw;
  height: 17vw;
  margin: .5vw;
}

.adverts div a{
text-decoration: none;
}
.inner div img {
  width: 100%;
  height: 80%;
}
@media screen and (max-width: 400px) {
  adverts div { margin: 0; }
  adverts { padding: 0; }

}