body {
    background-color: #E0E3DA;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

a {
text-decoration: none;
color: #566270;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  float: left;
  font-size: 1.3em;
}

li a {
    display: block;
    color: #566270;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

li a:hover:not(.active) {
    background-color: #FFFFF3;
}

table, th, td {
    table-layout: auto;
    width: 60em;
    border: 1px solid black;
}
table {
  border-collapse: collapse;
}

th {
    background-color: #566270;
    color: white;
}

.logo {
text-indent: 3em;
background: url('logo.jpg');
width: 630px;
height: 400px;
display:
}

textarea {
resize: none;
background-color: white;
}

.container {
 text-align: center;
}

.dropbtn {
    background-color: #f49c20;
    color: white;
    padding: 16px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFF3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f4f5f9}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f49c20;
}

.image_add {
    height: auto;
    max-width: 50%;
    object-fit: cover;
}

.image_user {
    height: auto;
    max-width: 20%;
    object-fit: cover;


}

.image_main img{
    height: auto;
    max-width: 15%;
    object-fit: cover;
}

.image_item {
    height: auto;
    max-width: 40%;
    object-fit: cover;
}

.main_button {
background-color: #f49c20;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.new {
font-size:

}

.little_photo {
    height: auto;
    max-width: 5%;
}




