<h1>New User</h1>

<form action="/users" method="post">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="image">Profile image:</label>
    <input type="text" id="image" name="image" >


    <input type="submit" value="Add User">
</form>