<h1>Edit User</h1>

<form action="/users/$user.getId()" method="post">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required value="$user.getUsername()">



    <input type="submit" value="Edit User">
</form>