<h1>Edit User</h1>

<form action="/users/$thisUser.getId()/$user.getId()" method="post">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required value="$user.getUsername()">

    <label for="image">Profile image:</label>
    <input type="text" id="image" name="image"   #if ($user.getImage()) value="$user.getImage()" #end>





    <input type="submit" value="Edit User">
</form>