
<h1> <a href="/"><img src="/images/logo.png" width="25%"></a></h1>


<h2> Please log in </h2>   ...Or <a href="/users/0/new"><h4>sign up</h4></a>

who are you?

<ul>
#foreach ($user in $users)

    <li>
<a href="/$user.getId()">$user.getUsername()</a>
    </li>

#end
</ul>



