<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="public/style.css">
    <title>ArtLink</title>
    <ul>
        <li><a href="/adverts">All Adverts</a></li>
        <li><a href="/items">For sale</a></li>
        <li><a href="/artists">Creative connections</a></li>
        <li><a href="/users">Users</a></li>

    </ul>
</head>
<body>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>