<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  type ="text/css" href="/styles/style.css">
    <title>ArtLink</title>
</head>
<body>
<header>

        <nav class="row">
            <ul>
                <li><a href="/"><img src="/images/logo.png" width="150px"></a></li>
                <li><a href="/adverts/$thisUser.getId()">All Adverts</a></li>
                <li><a href="/items/$thisUser.getId()">For sale</a></li>
                <li><a href="/artists/$thisUser.getId()">Creative connections</a></li>
                <li><a href="/users/$thisUser.getId()">Users</a></li>
            </ul>
        </nav>

</header>

<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>