
welcome

<ul>
    <li><a href="/adverts/$user.getId()">All Adverts</a></li>
    <li><a href="/items/$user.getId()">For sale</a></li>
    <li><a href="/artists/$user.getId()">Creative connections</a></li>
    <li><a href="/users/$user.getId()">Users</a></li>
</ul>