
welcome




<head></head>
<body>
<h1 class ="logo"></h1>



<ul>
    <li><a href="/adverts/$thisUser.getId()">All Adverts</a></li>
    <li><a href="/items/$thisUser.getId()">For sale</a></li>
    <li><a href="/artists/$thisUser.getId()">Creative connections</a></li>
    <li><a href="/users/$thisUser.getId()">Users</a></li>
</ul>

</body>