
<p>Welcome $thisUser.getUsername()</p>


<section class="container">
<div >
<h1 class ="image_user"><img src="$thisUser.getImage()"></h1>
</div>
</section>





<button><a href="/items/$thisUser.getId()" class="main_button">For sale</a></button>

<button><a href="/artists/$thisUser.getId()" class="main_button">Creative connections</a></button>


</body>